@using Energetic.Models.Club.Index
@model Index


<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Енергетик-БГАТУ</title>
    
    @Styles.Render("~/Content/index.css")

</head>

<body>

        <section class="row">
            <section class="col-lg-12 col-sm-12 col-md-12 col-12 container">
                <section class="fullName">
                    ФК ЭНЕРГЕТИК-БГАТУ
                </section>
            </section>
        </section>

        <section class="elements">

            <section class="main_photo_item">
                <img class="img" src="@Url.Content(Model.Photo.Photo)" max-height="700" max-width="1400" />
            </section>
            <section class="row matches_main">

                <section class="col-12 col-md-12 col-sm-12 col-lg-6 matches" id="first_match">
                    <section class="matches_header"> <p>@Model.Match.last.Tur</p></section>
                    <section class="matches-item">

                        @if (Model.Match.next.Tur == "1 тур")
                        {
                            <style>
                                .free {
                                    color:#0E0354;
                                }
                                    .free:hover {
                                        color: #0B0340;
                                    }
                            </style>
                            
                        }


                        <div class="row teams">
                            <p class="col-6 col-md-6 col-sm-6 col-lg-6 free">@Model.Match.last.FirstTeam</p>
                            <p class="col-6 col-md-6 col-sm-6 col-lg-6 free">@Model.Match.last.SecondTeam</p>
                        </div>
                        <p class="score free">@Model.Match.last.Score</p>
                        <p class="date free">@Model.Match.last.Date</p>


                    </section>
                </section>
                <section class="col-12 col-md-12 col-sm-12 col-lg-6 matches" id="second_match">
                    <section class="matches_header"><p>@Model.Match.next.Tur</p></section>
                    <section class="matches-item">
                        
                        <div class="row teams">
                            <p  class="col-6 col-md-6 col-sm-6 col-lg-6 ">@Model.Match.next.FirstTeam</p>
                            <p  class="col-6 col-md-6 col-sm-6 col-lg-6 ">@Model.Match.next.SecondTeam</p>
                        </div>
                        <p  class="score">@Model.Match.next.Score</p>
                        <p  class="date">@Model.Match.next.Date</p>


                    </section>

                </section>
            </section>
            <section class="row trophies">

                @foreach (var el in Model.Cubs)
                {
                    <section class="col-12 col-lg-4 col-4 col-sm-12 col-md-12 trophy">
                        <section class="trophy_img">
                            <img src="~/Images/кубок 4.png" max-height="200" max-width="208" />
                        </section>
                        <section class="trophy_section">
                            <div class="name">@el.Name</div>
                            <div class="number">@el.Quantity</div>
                        </section>
                    </section>
                }


            </section>


            <section class="row">
                <section class="col-lg-12 col-sm-12 col-md-12 col-12 container">
                    <section class="tournament_table_header">
                        <p>Турнирная таблица</p>
                    </section>
                </section>
            </section>

            <section class="table">

                <section class="element">
                    <section class="row">
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 "></section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 "></section>
                        <section class="col-lg-2 col-sm-2 col-md-2 col-2 "></section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">И</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">В</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">Н</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">П</section>
                        <section class="col-lg-2 col-sm-2 col-md-2 col-2 ">М</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">О</section>
                    </section>
                </section>

                @foreach (var el in Model.Table)
                {

                <section class="element">
                    <section class="row">
                        <section class="col-lg-1 col-sm-0 col-md-0 col-0 "></section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">@el.position</section>
                        <section class="col-lg-2 col-sm-3 col-md-3 col-3 ">@el.team</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">@el.playes</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">@el.win</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">@el.draw</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">@el.loose</section>
                        <section class="col-lg-2 col-sm-2 col-md-2 col-2 ">@el.balls</section>
                        <section class="col-lg-1 col-sm-1 col-md-1 col-1 ">@el.points</section>
                    </section>
                </section>

                }


            </section>

        </section>
        <!--END OF WORKPLACE-->

        
</body>
</html>